*.swp
*.tcl
.Xil/
.settings/
_ngo/
_xmsgs/
*.log
*.xmsgs
*.cmd
tmp/
iseconfig/
*.html
isim
netgen/
*.rpt
planAhead_run_*/
smartxplorer_results/
smartxplorer_setup/
xst/
xilinxsim.ini
xlnx_auto_0_xdb/
*.xml
*.xrpt
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lpc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.psr
*.pcf
*.prj
*.ptwx
*.stx
*.sty
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xdl
*.xpi
*.xst
*.xwbt
*.wdb
*.exe
*.map
*.mrp
*.ngm
*.csv
*_pad.txt
*.debug
*.gise

**/ipcore_dir/*.vhd
**/ipcore_dir/*.txt
**/ipcore_dir/*.asy
**/ipcore_dir/*.sym
**/ipcore_dir/*.vho
**/ipcore_dir/*.ncf
**/ipcore_dir/*.cgp
**/ipcore_dir/*.xci
**/ipcore_dir/*/

.project
*.wcfg
ghdl/
ethernet_mac_tb

