# Mac OS index files
.DS_Store

# MS Word backup files
~$*.doc*

# VS Code
uvvm_internal.code-workspace
vhdl_ls.toml
/uvvm_util/sim
hdlregression/

# Sigasi
.project
.pydevproject
.library_mapping.xml
.settings
.sigasi/generated

# Emacs
*.*~

# GHDL compilations
*.cf

# Modelsim compilations
*.ini
transcript

# Riviera-PRO compilations
*.cfg
*.cmd

# Python pyc
__pycache__/
.pytest_cache/

# rst
*.doctree
*.pickle

# Release
release/hdlregression/
releasedb_coverpoint.txt
releasedb_cross_max.txt
releasedb_cross.txt

# Python
.venv/

bitvis_vip_ethernet/tb/maintenance_tb/ethernet_mac-master/

bitvis_vip_i2c/tb/maintenance_tb/fpga_i2c_slave_github/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/asyst_2/rtl/verilog/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/asyst_3/rtl/verilog/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/first/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/rel_1/bench/verilog/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/rel_1/doc/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/rel_1/rtl/verilog/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/rel_1/rtl/vhdl/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/rel_1/sim/i2c_verilog/run/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/tags/rel_1/software/include/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/trunk/bench/verilog/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/trunk/doc/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/trunk/rtl/verilog/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/trunk/rtl/vhdl/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/trunk/sim/i2c_verilog/run/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/trunk/software/include/

bitvis_vip_i2c/tb/maintenance_tb/i2c_opencores/web_uploads/

bitvis_vip_spi/tb/maintenance_tb/spi_master_slave_opencores/trunk/doc/src/

bitvis_vip_spi/tb/maintenance_tb/spi_master_slave_opencores/trunk/doc/

bitvis_vip_spi/tb/maintenance_tb/spi_master_slave_opencores/trunk/license/

bitvis_vip_spi/tb/maintenance_tb/spi_master_slave_opencores/trunk/rtl/spi_master_slave/

bitvis_vip_spi/tb/maintenance_tb/spi_master_slave_opencores/trunk/syn/
