# Used to remove files from deployment using `git archive`
# Note: Case insensitive

####################
# GIT files (Bitvis internal)
####################
.gitignore                                                 export-ignore
.gitattributes                                             export-ignore
.gitattributes-uvvm_util                                   export-ignore
.gitattributes-bitvis_irqc                                 export-ignore
.gitattributes-bitvis_uart                                 export-ignore
.gitattributes-bitvis_vip_sbi                              export-ignore
.gitattributes-bitvis_vip_uart                             export-ignore
.gitattributes-bitvis_vip_axilite                          export-ignore
.gitattributes-bitvis_vip_gpio                             export-ignore
.gitattributes-bitvis_vip_avalon_mm                        export-ignore
.gitattributes-bitvis_vip_avalon_st                        export-ignore
.gitattributes-bitvis_vip_spi                              export-ignore
.gitattributes-bitvis_vip_i2c                              export-ignore
.gitattributes-bitvis_vip_axistream                        export-ignore
.gitattributes-bitvis_vip_clock_generator                  export-ignore
.gitattributes-bitvis_vip_scoreboard                       export-ignore

#####################
# Bitvis internal files
#####################
internal_*.*           export-ignore
Internal_*.*           export-ignore
INTERNAL_*.*           export-ignore
QA_*                   export-ignore
dependencies.txt       export-ignore
Vagrantfile            export-ignore
old_*.*                export_ignore
src/old_*.*            export-ignore
releaseFiles.txt       export-ignore
####################
# UVVM Util
####################

# Internal scripts directory
internal_script        export-ignore
*/*.tmp                export-ignore

# Don't include testbench for uvvm
# Compile scripts etc are now in internal_script directory
internal_tb            export-ignore

# Doc: Customers only need the pdf version
# doc/util_quick_ref.doc export-ignore
doc/Figures_for_doc.ppt  export-ignore
doc/*.docx               export-ignore
doc/*.doc                export-ignore


# Sim: Ignore entire internal_sim directory
internal_sim           export-ignore
sim/internal_*.*       export-ignore
# ignore sim files


