# Ignore compiled libraries
status.txt
internal_script/vunit_out/*
internal_script/__pycache__/*
sim/
sim/*.txt
script/vvc_generator/output/*
script/vvc_name_modifier/vvc_to_be_modified/src/*.vhd
script/vvc_name_modifier/vvc_to_be_modified/script/*.do
script/vvc_name_modifier/vvc_to_be_modified/script/*.tcl
# Modelsim files
sim/modelsim.ini
sim/transcript
sim/vsim.wlf
sim/*.cr.mti
sim/uvvm_vvc_framework/*
# RivieraPro files
sim/compile/*
sim/dataset*
sim/elaboration.log
sim/library.cfg
# Sigasi files
.library_mapping.xml
.project
.settings/*
# OS
.DS_Store