# Used to remove files from deployment using `git archive`
# Note: Case insensitive

# *** NB ***
# This file is used for release of bitvis_vip_sbi as part of the uvvm release.
# It belongs in the uvvm_vvc_framework repository (as .gitattributes-bitvis_vip_sbi)
# but is copied to the bitvis_vip_sbi during release. It should NOT be 
# committed to bitvis_vip_sbi.
# *** NB ***

####################
# GIT files (Bitvis internal)
####################
.gitattributes                                        export-ignore
.gitignore                                            export-ignore
                                                      
#####################                                 
# Bitvis internal files                               
#####################                                 
internal_*.*                                          export-ignore
QA_*                                                  export-ignore
dependencies.txt                                      export-ignore
Vagrantfile                                           export-ignore
releaseFiles.txt                                      export-ignore
# Ignore .doc versions of documentation, only publish .pdf versions
*.doc                                                 export-ignore
*.docx                                                export-ignore

####################
# bitvis_vip_axilite
####################

# Ignore folders:                                     
internal_tb                                           export-ignore
internal_script                                       export-ignore
sim                                                   export-ignore

