sim/_Alert.txt
sim/_Log.txt
sim/transcript
sim/bitvis_vip_axistream.cr.mti
sim/internal_bitvis_vip_axistream.cr.mti
sim/bitvis_vip_axistream
sim/vsim.wlf
sim/vunit_out/*
sim/modelsim.ini
sim/compile/
sim/library.cfg
internal_sim/_Alert.txt
internal_sim/_Log.txt
internal_sim/transcript
internal_sim/bitvis_vip_axistream.cr.mti
internal_sim/bitvis_vip_axistream
internal_sim/vsim.wlf
internal_script/transcript

# Ignore Sigasi files
.library_mapping.xml
.project
.settings/*
